/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
  margin-top: -5em;
}

/* Adjustments for the logo image*/

img {
  display: block;
  margin-top: 1.5em;
}

/* Centering text in each gray box */
div.css-1ht1j8u.e16fv1kl0 {
  text-align: center;
}

/* Third line of Row */
div.css-wnm74r.e16fv1kl3 {
  margin-left: 30%;
  margin-right: 20%;
}

/* Row 1 
*/



div.css-12w0qpk.e1tzin5v1 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}




/* Row 2 */
div.css-12w0qpk.e1tzin5v2 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; 
}

div.css-ml2xh6.e1tzin5v2 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; ml2xh6
}

div.css-115gedg.e1tzin5v2 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

div.css-1r6slb0.e1tzin5v2 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}



div.css-ocqkz7 e1tzin5v3 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

div.css-keje6w.e1tzin5v2 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

div.css-ml2xh6.e1tzin5v1 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
} 



div.css-1r6slb0.e1tzin5v1 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}


div.css-115gedg.e1tzin5v1 {
    background-color: #FFFFFF;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
   
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}




/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
}
